<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Error Message Page</title>
</head>
<body>
<h1>An Error</h1>
<p>
{{message}}
</p>

<p>
<a href="/auth"> Back to Main Page</a>
</p>
</body>
</html>
