p.p1 {
    margin-bottom : 10px;
    margin-left: 10%; margin-right : 20%;
    padding: 0em;
    border : 2px dashed red;
}
p.p2 {
    margin-top : 20px; margin-bottom : 30px;
    margin-left: 20%; margin-right : 10%;
    padding: 1em;
    border : 4px solid blue;
}
p.p3 {
    margin-top : 5px;
    margin-left: 30%; margin-right : 30%;
    padding-left: 3em; padding-right: 1em;
    border : 2mm dotted rgb(200,100,50);
    font-family : monospace;
}
