body {
    padding: 1em;
    width: auto;
    font-size: 1em;
    font-family: "Verdana", sans-serif;  
    background: rgb(250,250,245);
}

ul.Roles *{
    list-style-type: none;
}


ul.Roles ul {
    margin-top : 0.2em;
}

ul.Roles ul li {
    padding-left: 1em;
    padding-top: 0.2em;
}


ol.UserStories > li > ul {
    padding: 1em;
    margin-left: 1em;
    list-style-type: square;
}

ol.UserStories li {
    padding-top: 0.5em;

}

dl.UserStories > dd::before {
    content: "US-"
}

dl.UserStories dd {
    margin-left: 0.5em;
}


ol.UserStories li ul li {
    padding: 0.3em;

}
 
dl {
    padding-left: 1em;
}
dt {
    padding-bottom: 0.3em;
    margin-top : 1em;
    font-style: italic;
}

dd {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
h2 {
    margin-top: 1em;
}

img.DomainModel {
    width: 80%;
    border: 2px solid rgb(50,50,50);
    margin : 2em;
    padding : 1em;
    background: rgb(250, 250, 250);
}

img.GanttChart {
    width:90%;
    border: 2px solid rgb(50,50,50);
    margin : 2em;
    padding : 1em;
    background: rgb(250, 250, 250);
}

body.Wireframes {
    background : rgb(240,240,240);

}

img.Wireframe {
    height: 800px;
    border : 2px solid rgb(50,50,50);
    margin: 3em;
    padding: 1em;
    background: rgb(255,255,255);
}

div.horizontalLine {
    margin: 0em;
    padding: 0em;
    background: rgb(0,0,0);
    height: 0.2em;
    width: 100%;
}

div.UseCase {
    margin-left: 2em;
    margin-bottom: 1.5em; 
}

dl.UseCase {
    padding: 0em;
}

img.UseCaseDiagram {
    margin: 2em;
    width: 70%;
    border : 2px solid rgb(50,50,50);
}

img.StateChart {
    border : 2px solid rgb(50,50,50);
    margin: 0em 2em 2em 0em;
    width:50%;
}

img.SequenceDiagram {
    border : 2px solid rgb(50,50,50);
    margin: 0em 2em 2em 0em;
    width:40%;

}

img.ClassDiagram {
    border : 2px solid rgb(50,50,50);
    margin: 2em;
    padding: 1em;
    background : rgb(255,255,243);
    width: 90%;
}

img.PackageDiagram {
    border : 2px solid rgb(50,50,50);
    margin: 2em;
    padding: 1em;
    background : rgb(255,255,243);
    width: 65%;
}

img.DatabaseSchema {
    border : 2px solid rgb(50,50,50);
    margin: 2em;
    padding: 1em;
    background : white;
    width: 90%;
    max-width: 810px;
}

dl.DatabaseSchema dt { 
    font-size: 1em;
}
dl.DatabaseSchema dd {
    font-size: 0.9em;
}

dl.DatabaseSchema ul {
    margin: 0;
    margin-top: 0.5em;
    
}



